<!-- Coding by CodingLab | www.codinglabweb.com -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re_Pacientes</title>
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/static/barra-lat.css">

    <!---===== Boostrap =====-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/static/images/logo2.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Clinica Lolsito</span>
                    <span class="profession">Te cuidamos</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links" style="padding-left: 0rem">

                    <li class="nav-link">
                        <a href="{{url_for('index')}}">
                            <i class='bx bxs-home-heart icon' ></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{{url_for('home')}}">
                            <i class='bx bx-male icon' ></i>
                            <span class="text nav-text">Pacientes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{{url_for('homeCitas')}}">
                            <i class='bx bxs-spreadsheet icon' ></i>
                            <span class="text nav-text">Citas</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{{url_for('homeEspecialidades')}}">
                            <i class='bx bxs-book-heart icon'></i>
                            <span class="text nav-text">Especialidades</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{{url_for('homeMedicos')}}">
                            <i class='bx bxs-first-aid icon' ></i>
                            <span class="text nav-text">Médicos</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{{url_for('logout')}}">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Claro</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">
        <h1 class="text-center mt-5 mb-5 text-primary">Registro de Citas</h1>

        <div class="container mb-5">
            <div class="card shadow">
                <div class="card-body">
                    <form action="/addCita" method="POST">
                        <div class="row mb-3">

                            <div class="col">
                                <label>Paciente</label>
                                <select class="form-select" name="id_Paciente">
                                    {% for paciente in pacientes %}
                                        <option value="{{ paciente.id }}">(ID {{ paciente.id }}) {{ paciente.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col">
                                <label>Médico</label>
                                <select class="form-select" name="id_Medico">
                                    {% for medico in medicos %}
                                        <option value="{{ medico.id }}">(ID {{ medico.id }}) {{ medico.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col">
                                <label>Fecha</label>
                                <input type="date" class="form-control mb-3" name="fecha">
                            </div>

                            <div class="col">
                                <label>Hora</label>
                                <input type="time" class="form-control mb-3" name="hora">
                            </div>
                            
                            <div class="col">
                                <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>
                    

                    <form action="/searchCitas" method="POST">
                        <div class="row mb-3">
                            <div class="col">
                                <label>ID PACIENTE</label>
                                <input type="number" class="form-control mb-3" min="0" name="nameSearch" required>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary mb-3 mt-4" type="submit">Buscar Cita</button>
                            </div>
                        </div>
                    </form>
                    
    
                    <!-- Tabla -->
    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Paciente</th>
                                <th scope="col">Médico</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Hora</th>
    
                                <th scope="col">Editar</th>
                                <th scope="col">Borrar</th>
                                <th scope="col">Generar PDF</th>
                            </tr>
                        </thead>
                    
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{ d.id }}</td>
                                <td>(ID {{ d.id_paciente }}) {{ d.paciente_nombre }}</td>
                                <td>(ID {{ d.id_medico }}) {{ d.medico_nombre }}</td>
                                <td>{{ d.fecha }}</td>
                                <td>{{ d.hora }}</td>

                                <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.id}}" data-bs-toggle="modal" data-bs-target="#modal{{d.id}}">Editar</button></td>
                                <td><a href="{{url_for('deleteCita', id=d.id)}}" class="btn btn-danger btn-sm">Borrar</a></td>
                                <td><a href="{{ url_for('generar_pdfCita', id=d.id) }}" class="btn btn-info btn-sm">PDF</a></td>
                                <td><a href="#" class="btn btn-info btn-sm">Email</a></td>
                            </tr>
    
                            <!-- modal -->
    
                            <div class="modal fade" id="modal{{d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Cita #{{d.id}}</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/editCita/{{d.id}}" method="post">

                                            <label style="display:block; margin-bottom: 10px;">PACIENTE: (ID {{ d.id_paciente }}) {{ d.paciente_nombre }}</label>
                                            <label style="display:block; margin-bottom: 10px;">MÉDICO: (ID {{ d.id_medico }}) {{ d.medico_nombre }}</label>
                                
                                            <label>Fecha</label>
                                            <input type="date" class="form-control mb-3" name="fecha" value="{{d.fecha}}">
                                            <label>Hora</label>
                                            <input type="time" class="form-control mb-3" name="hora" value="{{d.hora}}">
                                        
                                    </div>

                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                    </div>

                                    </form>
                                  </div>
                                </div>
                              </div>
    
                        {% endfor %}
    
                    </tbody>
    
                </table>
    
    
                </div>
            </div>
        </div>
    </section>

    <script src="/static/barra-lat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>